<h1>Tragamonedas</h1>
<form method="get" action="/jugar">
	<div>
		<p>Ingrese su nombre</p>
		<input type="text" name="nombre" value="Jose">
	</div>
	<div>
		<p>Ingrese la dificultad</p>
		<select name="dificultad">
			<option value="facil" selected>Facil</option>
			<option value="normal">Normal</option>
			<option value="dificil">Dificil</option>
		</select>
	</div>
	<input type="submit" name="jugar" value="Ingresar">
</form>

